@import url("../css/main.css");

.showcase__container{
    box-sizing: border-box;
    padding: var(--section-padding);
    margin: 0 auto;

}


@media screen and (min-width: 450px) {
    .showcase__container{
        max-width: 450px;
    }
    .showcase__images___container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
    }
    
}

.showcase__image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 2em var(--dark-greyish-blue);
    max-width: 500px;
}

.showcase__thumbnail___list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 2rem 0;
}

@media screen and (min-width: 450px) {
    .showcase__thumbnail___list{
        gap: 2rem;
    }
    
}

.thumbnail__item{
    width: 70px;
    border-radius: 5px;
}

.thumbnail__item:hover{
    cursor: pointer;
}

.thumbnail__activated{
    box-shadow: 0 0 2em var(--dark-greyish-blue);
    width: 90px;
}
